*.dcu
*.~*~
*.local
*.identcache
__history
*.drc
*.map
*.exe
*.deb
*.rpm
*.dbg
*.ini
bin/*
lib/*
*.sh
*.backup
*.lintian
*.xlsx
_*.*
backup/*
titles/text/*
forms/backup/*
components/zeosdbo/packages/lazarus/lib/*
components/zeosdbo/examples/*
components/richmemo/lib/*
components/richmemo/ide/lib/*
components/unboundmemo/lib/*
components/unboundmemo/backup/*
unboundbible
Rubbish/*
