*.dcu
*.~*~
*.local
*.identcache
__history
*.drc
*.map
*.exe
*.dll
bin/*
lib/*
*.sh
*.backup
*.lintian
titles/text/*
components/zeosdbo/*
components/richmemo/*
components/unboundmemo/lib/*
components/unboundmemo/backup/*
UnboundBibleTools
UnboundBible
