*.dcu
*.~*~
*.local
*.identcache
__history
*.drc
*.map
*.exe
*.dll
bin/*
*.sh
titles/text/*
components/richmemo/*
components/unboundmemo/lib/*
components/unboundmemo/backup/*
bibles/*
UnboundBibleTools
